.total-orders-card , .total-products-card , .total-revenue-card {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-width: fit-content;
    max-height: 100%;
    min-height: fit-content;
  }
