.profile-widget {
    width: 350px !important;
    font-size: medium;
    text-align: left !important;
    list-style: none !important;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem ;
    
}

.card-body > ul {
    text-align: left !important;
    list-style: none !important;
    padding: 1px !important; 
}

.profile-widget .card-header {
    flex-wrap: nowrap !important;
    background: #337ab7;
    color: white;
}